In [5]:
import pandas as pd

tarefas_dt = pd.read_json('./tarefas.json')

In [6]:
tarefas_dt

   id nome_tarefa
0   1     comprar
1   2       nadar
2   3     treinar

função para atualizar sempre o arquivo

In [7]:
def atualizar_tarefas(str):
    return pd.read_json(f'./{str}')

In [10]:
tarefas_dt = atualizar_tarefas('tarefas.json')

In [12]:
tarefas_dt

   id nome_tarefa
0   1     comprar
1   2       nadar
2   3     treinar

In [18]:
concluido_dt = atualizar_tarefas('concluido.json')

In [19]:
concluido_dt

   id nome_tarefa
0   1     comprar